* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

.imgBackground{
  width: 100%;
}

body div {
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  color: white;
  background-color: black;
}

.textHistoire {
  padding-right : 10px;
  padding-left: 10px;
}

.textHistoire p {
  margin : 0px;
  text-align: justify;
}

.DescriptionClub p {
  padding-right : 10px;
  padding-left: 10px;
  text-align: justify;
}

.Horaires {

}

.Horaires img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;>
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
